<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376418628631-f4nchomttlabfumi0jucgq69e4jtpadm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376418628631-f4nchomttlabfumi0jucgq69e4jtpadm</string>
	<key>API_KEY</key>
	<string>AIzaSyAIzbIBmbjB-nIDTjkxAx52nGePoCx0xAA</string>
	<key>GCM_SENDER_ID</key>
	<string>376418628631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.UberPath</string>
	<key>PROJECT_ID</key>
	<string>uberpath-9c441</string>
	<key>STORAGE_BUCKET</key>
	<string>uberpath-9c441.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376418628631:ios:9dda400534ac2b0bb29852</string>
</dict>
</plist>